<h1>SINGLE PROJECT</h1>

{{!-- 



{{#each projects}}
<h2 style="text-align: center; font-weight: bold" class="breadcrumb-item active">- {{title}} -</h2>

    <div class="col-md-8 col-lg-8 col-sm-8 col-xs-8 mt-3">
        <div class="htc__single__service">
            <div class="htc__single__service__tab">
                <div class="ht-portfolio-pic-show">
                    <div class="ht-portfolio-full-image tab-content">
                        <div role="tabpanel" class="tab-pane fade in active" id="img-tab-1">
                         <img src="uploads/{{imagename}}" style="width: 100%" alt="">
                        </div>
                        <div role="tabpanel" class="tab-pane fade" id="img-tab-2">
                            <img src="images/blog/pimages/ginger2.jpg" alt="full-image">
                        </div>
                        <div role="tabpanel" class="tab-pane fade" id="img-tab-3">
                            <img src="images/blog/pimages/ginger3.jpg" alt="full-image">
                        </div>
                        <div role="tabpanel" class="tab-pane fade" id="img-tab-4">
                            <img src="images/blog/pimages/ginger4.jpg" alt="full-image">
                        </div>
                    </div>
                </div>
                <!-- Start Small images -->
                {{!-- <div class="ht__service__small__image nav nav-tabs clearfix">
                    <ul role="tablist" class="prodict-det-small  clearfix">
                        <li role="presentation" class="pot-small-img img-tab-1 active">
                            <a href="#img-tab-1" role="tab" data-toggle="tab">
                                <img src="images/blog/pimages/ginger2.jpg" alt="small-image">
                            </a>
                        </li>
                        <li role="presentation" class="pot-small-img img-tab-2">
                            <a href="#img-tab-2" role="tab" data-toggle="tab">
                                <img src="images/blog/pimages/ginger3.jpg" alt="small-image">
                            </a>
                        </li>
                        <li role="presentation" class="pot-small-img img-tab-3">
                            <a href="#img-tab-3" role="tab" data-toggle="tab">
                                <img src="images/blog/pimages/ginger4.jpg" alt="small-image">
                            </a>
                        </li>
                        <li role="presentation" class="pot-small-img img-tab-4">
                            <a href="#img-tab-4" role="tab" data-toggle="tab">
                                <img src="images/blog/pimages/ginger1.jpg" alt="small-image">
                            </a>
                        </li>
                    </ul>
                </div> --}}
                <!-- End Small images -->
            </div>
        </div>
    </div>
    <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
        <div class="single__project__rightsidebar">
            <!-- Start Single Item -->
            <div class="pro__dtl__inner bg__gray">
                <h2>PROJECT DETAILS</h2>
                <div class="pro__dtl__content">
                    <ul class="pro__dtl__list font__bold">
                        <li>CLIENT: </li>
                        <li>LOCATION:</li>
                        <li>SURFACE:</li>
                        <li>Website:</li>
                        <li>SECTOR:</li>
                    </ul>
                    <ul class="pro__dtl__list">
                        <li>{{client}}</li>
                        <li>{{location}}</li>
                        <li>{{surface}}</li>
                        <li>{{website}}</li>
                        <li>{{sector}}</li>
                    </ul>
                </div>
            </div>
            <!-- End Single Item -->
        </div>
    </div>




{{else}}

<div class="container">
    <p>No Project yet listed</p>
</div>


{{/each}} --}}