<div class="container">
    <h2 style="text-align: center; font-weight: bold; color:black" class="breadcrumb-item active">- AKART DESIGN &
        BUILD PROJECT -</h2>

    {{#each projects}}


    <!-- Start Single Project -->
    <div class="col-md-4 col-lg-4 col-sm-12 col-xs-12 mt-3">
        <div class="project foo">
            <div class="project__thumb">
                <a href="">
                    <img src="uploads/{{imagename}}" style="
                        width:  500px;
                        height: 180px;
                        object-fit: cover;
                        border-radius: 5px"
                        alt="">
                </a>
                <div class="project__hover__info">
                    <div class="project__action">
                        <h2><a href="../projects/{{_id}}">{{sector}}</a></h2>
                    </div>
                </div>
            </div>
        </div>

        <a class="btn btn-dark btn-block mb-1" href="/projects/edit/{{_id}}">Edit</a>
        <form method="post" action="/projects/{{_id}}?_method=DELETE">

            <input type="hidden" name="_method" value="DELETE">
            <input type="submit" class="btn btn-danger btn-block" value="Delete">
        </form>



    </div>



    <!-- End Single Project -->


    {{else}}

    <div class="container">
        <p>No Project yet listed</p>
    </div>


    {{/each}}